---
import Activity from '../components/activity.astro'
import Layout from '../layouts/Layout.astro'

// TODO get these from api
import { activities } from '../data/activity'
---

<Layout>
  <div class="space-y-3">
    <h2>activity</h2>
    <ul class="grid gap-2 lg:grid-cols-3">
      {activities.data.map(data => (
        <Activity {...data} />
      ))}
    </ul>
  </div>
</Layout>
